		
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[Apartments]')
ALTER TABLE [dbo].[Apartments] NOCHECK CONSTRAINT [FK_Apartments_Houses]

PRINT(N'Drop constraints from [dbo].[Houses]')
ALTER TABLE [dbo].[Houses] NOCHECK CONSTRAINT [FK_Houses_Districts]

PRINT(N'Drop constraints from [dbo].[Districts]')
ALTER TABLE [dbo].[Districts] NOCHECK CONSTRAINT [FK_Districts_Regions]

PRINT(N'Add 2 rows to [dbo].[Regions]')
INSERT INTO [dbo].[Regions] ([RegionId], [RegionName]) VALUES (1, N'Санкт-Петербург
')
INSERT INTO [dbo].[Regions] ([RegionId], [RegionName]) VALUES (5001, N'Ленинградская область
')

PRINT(N'Add 19 rows to [dbo].[Districts]')
INSERT INTO [dbo].[Districts] ([DistrictId], [DistrictName], [RegionId]) VALUES (4, N'Адмиралтейский', 1)
INSERT INTO [dbo].[Districts] ([DistrictId], [DistrictName], [RegionId]) VALUES (5, N'Василеостровский', 1)
INSERT INTO [dbo].[Districts] ([DistrictId], [DistrictName], [RegionId]) VALUES (6, N'Выборгский', 1)

PRINT(N'Add 198 rows to [dbo].[Houses]')
INSERT INTO [dbo].[Houses] ([HouseId], [StageNumber], [HouseNumber], [ComplexName], [DistrictId]) VALUES (128, 1, N'2', N'Весна', 5005)
INSERT INTO [dbo].[Houses] ([HouseId], [StageNumber], [HouseNumber], [ComplexName], [DistrictId]) VALUES (130, 1, N'1', N'Дюна', 13003)
INSERT INTO [dbo].[Houses] ([HouseId], [StageNumber], [HouseNumber], [ComplexName], [DistrictId]) VALUES (131, 2, N'2', N'Северные высоты', 5005)

PRINT(N'Add 240 rows to [dbo].[Apartments]')
INSERT INTO [dbo].[Apartments] ([ApartmentId], [HouseId], [RoomsCount], [SAll], [Floor], [Price]) VALUES (29570, 130, 1, 41.95, 21, 5725650.00)
INSERT INTO [dbo].[Apartments] ([ApartmentId], [HouseId], [RoomsCount], [SAll], [Floor], [Price]) VALUES (52736, 210, 2, 67.80, 22, 5300000.00)
INSERT INTO [dbo].[Apartments] ([ApartmentId], [HouseId], [RoomsCount], [SAll], [Floor], [Price]) VALUES (84095, 200, 3, 76.50, 18, 5567500.00)

PRINT(N'Add constraints to [dbo].[Apartments]')
ALTER TABLE [dbo].[Apartments] WITH CHECK CHECK CONSTRAINT [FK_Apartments_Houses]

PRINT(N'Add constraints to [dbo].[Houses]')
ALTER TABLE [dbo].[Houses] WITH CHECK CHECK CONSTRAINT [FK_Houses_Districts]

PRINT(N'Add constraints to [dbo].[Districts]')
ALTER TABLE [dbo].[Districts] WITH CHECK CHECK CONSTRAINT [FK_Districts_Regions]
COMMIT TRANSACTION
GO
